# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java Deploy with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
 # 这里使用java11的环境, 其他项目在github action中找到对应的语言环境就行
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
 # 这里maven的打包命令, 其他项目修改为对应的打包命令
        run:  mvn -B clean package --flie pom.xml -Dmaven.test.skip=true
      - name: Push Docker
        run: |
          docker login --username=${{ secrets.USERNAME }} --password ${{ secrets.PASSWORD }}
          docker build . -t firexuxiaoman/jenkins-demo:$GITHUB_RUN_NUMBER
          docker push firexuxiaoman/jenkins-demo:$GITHUB_RUN_NUMBER