# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java Deploy with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
 # 这里使用java8的环境, 其他项目在github action中找到对应的语言环境就行
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
 # 这里maven的打包命令, 其他项目修改为对应的打包命令
        run:  |
            mvn -B clean package --file pom.xml -Dmaven.test.skip=true
            mvn sonar:sonar -Dsonar.host.url=http://101.227.90.187:31672/ -Dsonar.login=59ce5e1467f566178c40fee9e5bee51d59fe4f67
      - name: copy file via ssh password
        uses: appleboy/scp-action@master
        with:
            host: ${{ secrets.HOST }}
            username: ${{ secrets.USER }}
            password: ${{ secrets.PWD }}
            port: ${{ secrets.PORT }}
            source: "k8s.yaml,ingress.yaml" 
            target: "/home"      
      - name: Push Docker
        run: |
          docker login --username=${{ secrets.DOCKER_NAME }} --password ${{ secrets.DOCKER_PASS }}
          docker build . -t firexuxiaoman/jenkins-demo:$GITHUB_RUN_NUMBER
          docker push firexuxiaoman/jenkins-demo:$GITHUB_RUN_NUMBER
      - name: Deloy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          password: ${{ secrets.PWD }}
          port: ${{ secrets.PORT }}
          script: |
                docker login --username=${{ secrets.DOCKER_NAME }} --password ${{ secrets.DOCKER_PASS }}
                docker pull firexuxiaoman/jenkins-demo:latest
                cd /home & kubectl apply -f k8s.yaml --record &kubectl apply -f ingress.yaml --record
      
       